.burger {
    display: none;
}
@media (max-width: 768px){
    .burger{
      display: block;
      position: relative;
      z-index: 1000;
    }
    .icon {
      background: none;
      border: none;
    }
  }