.parrotSection {
  background-color: #f7f3f4;
}
.container {
  background-position: top 69px right;
  background-repeat: no-repeat;
  background-image: url('../../Assets/parrot.svg');
  margin: 0 auto;
  max-width: 1120px;
  padding: 128px 80px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.content {
  max-width: 50%;
}

.imgBlock {
  width: 100%;
}

.text {
  padding-bottom: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.form {
  max-width: 448px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
  border-radius: 40px;
  background-image: url('../../Assets/map.svg');
  background-repeat: no-repeat;
  background-position: left 5% center;
  transition: all 2s;
  -webkit-animation: scale-in-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.input {
  background: #ffffff;
  border-radius: 40px;
  border: none;
  outline: none;
  margin-left: 50px;
}

.button {
  border: none;
  margin: 8px 8px;
  padding: 15px 32px;
  color: #ffffff;
  background-color: #f2726c;
  transition: all 0.5s;
  border-radius: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: #000;
}

.membersBlock {
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  align-self: flex-end;
}
.membersSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 70px 32px 32px;
  border-radius: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left 2px;
  background-image: url('../../Assets/block_members.svg');
}
.members {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.number span {
  display: inline-block;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  line-height: 80px;
  width: 150px;
}

@media (max-width: 1024px) {
  .input {
    width: 100%;
    font-size: 14px;
    margin-left: 40px;
  }
  .button {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .background {
    background-image: url(../../Assets/parrot.svg);
    background-repeat: no-repeat;
    background-position: left 95px bottom 22px;
  }
  .parrotSection {
    padding: 0 20px;
  }
  .container {
    background-size: 458px;
    padding: 70px 0 96px;
    background-position: left 133px bottom;
    position: relative;
    z-index: 1;
    background: none;
  }
  .content {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 35px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .imgBlock {
    width: 90%;
  }
  .title {
    margin-bottom: 30px;
  }
  .text {
    max-width: 448px;
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 0px;
  }
  .form {
    width: 100%;
  }
  .input {
    width: 100%;
    font-size: 14px;
  }
  .button {
    padding: 14px;
  }
  .membersBlock {
    width: 85%;
    margin-top: 200px;
    height: 250px;
  }

  .membersSection {
    padding: 0 60px 32px 28px;
  }
  .members {
    font-size: 18px;
  }
  .number span {
    font-size: 40px;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


